$side-gap: 15px;
$front-gap: 40px;

.gallery {
	display: block;
	margin: $front-gap 20px;

	.previews-container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $front-gap;
	}

	.preview-image-placeholder {
		width: 192px;
		height: 192px;
		padding: $side-gap;
	}

	.preview-image {
		border-radius: 12px;
	}

	.main-action {
		width: calc(100% - 2 * $side-gap);
		margin-right: $side-gap;
		margin-left: $side-gap;
	}

	.portrait {
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.landscape {
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}