@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';
@use 'breakpoints';
@use 'headers';

$edge-spacing: 23px;

.main-menu {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: end;
	height: 85px;
	background-color: variables.$primary;

	@include breakpoints.apply-from-tablet() {
		height: 110px;
	}

	.logo-container {
		@include absolute.unset-position(29px, unset, unset, $edge-spacing);
		width: 150px;

		@include breakpoints.apply-from-tablet() {
			top: 40px;
			left: 50px;
		}

		@include breakpoints.apply-from-desktop() {
			left: 60px;
		}
	}

	.logo {
		width: 100px;
		height: 21px;

		@include breakpoints.apply-from-tablet() {
			width: 130px;
			height: 27px;
		}

		@include breakpoints.apply-from-desktop() {
			width: 152px;
			height: 32px;
		}
	}

	.action {
		@extend %marush-caption;
		margin-right: $edge-spacing;
		margin-left: auto;
		font-family: 'Overpass-Bold', sans-serif;
		letter-spacing: 1px;

		&:hover {
			color: variables.$accent;
		}

		@include breakpoints.apply-from-tablet() {
			margin-right: auto;
			font-size: 18px;
		}
	}
}

.mobile-menu {
	display: block;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: .5s ease-in-out;

	&.collapsed {
		max-height: 100%;
	}
}
