@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';
@use 'breakpoints';
@use 'headers';

.main-menu {
	position: relative;
	height: 85px;
	padding: 0 variables.$menu-edge-spacing;
	background-color: variables.$primary;

	@include breakpoints.apply-from-tablet() {
		height: 110px;
		padding: 0 variables.$menu-gaps;
	}

	@include breakpoints.apply-from-desktop() {
		height: 110px;
		padding: 0 1.5 * variables.$menu-gaps;
	}

	.logo-container, .admin-logo-container {
		padding: 5px;
	}

	.admin-logo-container {
		margin-right: 15px;
	}

	.logo {
		width: 100px;
		height: 21px;

		@include breakpoints.apply-from-tablet() {
			width: 130px;
			height: 27px;
		}

		@include breakpoints.apply-from-desktop() {
			width: 152px;
			height: 32px;
		}
	}

	.admin-logo {
		width: 44px;
		height: 44px;

		@include breakpoints.apply-from-tablet() {
			width: 55px;
			height: 55px;
		}
	}
}

.mobile-menu {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: opacity .65s ease-in-out;
	opacity: 0;
	background-color: variables.$primary;

	&.collapsed {
		height: fit-content;
		padding: 15px;
		opacity: 1;
	}
}
