@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';
@use 'breakpoints';
@use 'headers';

.main-menu {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: end;
	height: 85px;
	background-color: variables.$primary;

	@include breakpoints.apply-from-tablet() {
		height: 110px;
	}

	.logo-container {
		@include absolute.unset-position(29px, unset, unset, variables.$menu-edge-spacing);
		width: 150px;

		@include breakpoints.apply-from-tablet() {
			top: 40px;
			left: 50px;
		}

		@include breakpoints.apply-from-desktop() {
			left: 60px;
		}
	}

	.logo {
		width: 100px;
		height: 21px;

		@include breakpoints.apply-from-tablet() {
			width: 130px;
			height: 27px;
		}

		@include breakpoints.apply-from-desktop() {
			width: 152px;
			height: 32px;
		}
	}
}

.mobile-menu {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: opacity .65s ease-in-out;
	opacity: 0;
	background-color: variables.$primary;

	&.collapsed {
		height: fit-content;
		padding: 15px;
		opacity: 1;
	}
}
