<nav class="main-menu aligned-centrally stretch-between">
    <a class="logo-container" routerLink="{{translateRoute('home')}}" routerLinkActive="active" #rla="routerLinkActive"
        ariaCurrentWhenActive="page" tabindex="0" (click)="hideMobileMenu()">
        <img class="logo" src="{{logoPath()}}" i18n-alt="@@logo" alt="Logo" (mouseover)="logoHovered = true"
            (mouseleave)="logoHovered = false" (focus)="rla.isActive" />
    </a>

    @if(sizeService.lastKnownSize()) {
        @if(isMobile()) {
            <marush-hamburger-button [(collapsed)]="showMobileMenu"></marush-hamburger-button>
        }

        @else {
            <marush-menu-items></marush-menu-items>
            @if(environment.name !== 'development'){
                <marush-language-selector></marush-language-selector>
            }
        }
    }
    @else {
        <marush-menu-items class="mobile-hidden"></marush-menu-items>
    }
</nav>

@if(isMobile()) {
<marush-mobile-menu [collapsed]="showMobileMenu" (hideMobileMenu)="hideMobileMenu()" class="mobile-menu" [ngClass]="{'collapsed': showMobileMenu }"></marush-mobile-menu>
}