@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';
@use 'breakpoints';

$edge-spacing: 23px;

.main-menu {
	display: flex;
	align-items: center;
	height: 85px;
	background-color: variables.$primary;

	@include breakpoints.apply-from-tablet() {
		height: 110px;
	}

	.logo {
		@include absolute.unset-position(29px, unset, unset, $edge-spacing);
		width: 100px;
		height: 21px;

		@include breakpoints.apply-from-tablet() {
			top: 40px;
			left: 50px;
			width: 130px;
			height: 27px;
		}

		@include breakpoints.apply-from-desktop() {
			left: 60px;
			width: 152px;
			height: 32px;
		}
	}

	.action {
		margin-right: $edge-spacing;
		margin-left: auto;
		font-family: 'Overpass-Bold', sans-serif;
		font-size: 16px;
		text-transform: uppercase;

		&:hover {
			color: variables.$font-selection-color;
		}
		

		@include breakpoints.apply-from-tablet() {
			margin-right: auto;
			font-size: 18px;
		}
	}
}
