<nav class="main-menu aligned-centrally stretch-between">
    <div class="aligned-centrally stretch-between">
        @if(authenticationService.isAuthenticated())
        {
            <a #adminLogo="routerLinkActive" class="admin-logo-container" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="admin/klijenti" tabindex="0" (click)="hideMobileMenu()">
                <img class="admin-logo" alt="Marush: Space of Care - idi na zaštićeni deo" [src]="adminLogoPath()" (mouseover)="adminLogoHovered = true"
                    (mouseleave)="adminLogoHovered = false" (focus)="adminLogo.isActive" />
            </a>
        }
        <a #logo="routerLinkActive" class="logo-container" routerLinkActive="active" ariaCurrentWhenActive="page"
            tabindex="0" [routerLink]="'home' | translateRoute" [ariaLabel]="marushDetails.name" [title]="marushDetails.name"
            (click)="hideMobileMenu()">
            <img class="logo" alt="Marush: Space of Care - idi na početnu" i18n-alt="@@logo" [src]="logoPath()" (mouseover)="logoHovered = true"
                (mouseleave)="logoHovered = false" (focus)="logo.isActive" />
        </a>
    </div>

    @if(sizeService.lastKnownSize()) {
        @if(isMobile()) {
            <marush-hamburger-button role="button" aria-controls="mobile-menu" [ariaExpanded]="showMobileMenu"
                [(collapsed)]="showMobileMenu" />
        }

        @else {
            <marush-menu-items />
            @if(environment.name !== 'development' && !authenticationService.isCurrentRouteProtected()){
                <marush-language-selector />
            }
        }
    }
    @else {
        <marush-menu-items class="mobile-hidden" />
        <marush-language-selector class="mobile-hidden" />
    }
</nav>

@if(isMobile()) {
    <marush-mobile-menu id="mobile-menu" role="navigation" class="mobile-menu" [collapsed]="showMobileMenu"
        [ngClass]="{'collapsed': showMobileMenu }" (hideMobileMenu)="hideMobileMenu()" />
}