@use 'breakpoints';
@use 'variables';
@use '../calendar-variables' as calendar;
@use './calendar-grid-variables' as grid;

.button-icon {
	display: block;
	width: calendar.$action-icon-size;
	height: calendar.$action-icon-size;
	object-fit: contain;
}

.day-action {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calendar.$action-button-padding;
	border: calendar.$action-button-border;
	border-radius: calendar.$action-button-radius;
	background: transparent;

	&:hover {
		background: variables.$accent;
	}
}

.note-button {
	order: 3;

	&.has-note {
		background: variables.$accent;
	}

	@include breakpoints.apply-from-tablet() {
		order: 0;
	}
}

.non-working-button {
	order: 2;

	.button-icon {
		opacity: .5;
	}

	&.is-active {
		border-color: variables.$font-color;
		background: variables.$accent;
	}

	&.is-active .button-icon, &:hover .button-icon {
		opacity: 1;
	}

	@include breakpoints.apply-from-tablet() {
		order: 0;
	}
}

.day-header.non-working-day {
	background: rgba(variables.$accent, .3);
}

.time-label {
	display: flex;
	box-sizing: border-box;
	flex: none;
	align-items: flex-start;
	justify-content: flex-end;
	height: grid.$slot-height;
	padding: 2px 4px 0;
	opacity: .55;
	color: variables.$font-color;
	font-size: 9px;

	@include breakpoints.apply-from-tablet() {
		padding: 2px 6px 0;
		font-size: 12px;
	}
}
