@use 'breakpoints';
@use 'headers';

.hero-header {
	@extend %marush-headline;
	margin-top: 55px;
	margin-bottom: 0;
	letter-spacing: 1px;

	@include breakpoints.apply-from-desktop() {
		margin-top: 80px;
		@include headers.marush-header(true);
	}
}

.hero-description {
	@extend %marush-caption;
	margin: 32px 0;

	@include breakpoints.apply-from-tablet() {
		font-size: 18px;
	}

	@include breakpoints.apply-from-desktop() {
		margin-bottom: 50px;
		@include headers.marush-headline();
	}
}
