<section class="previews-container">
    @for(imageUrl of imageUrls; track imageUrl)
    {
        <marush-image-loader class="preview-image-placeholder center-content" [description]="imageDescriptions"
            [url]="imageUrl" [givenClass]="'preview-image clickable'" (click)="openFullImage()" />
    }
</section>

@if(fetchedCount !== imageCount)
{
    <button type="button" class="main-action" (click)="loadMoreImages()">
        <span i18n="@@gallery.load-more">Učitaj još slika</span>
    </button>
}

<marush-dialog></marush-dialog>