<section class="previews-container">
    @for(imageUrl of imageUrls; track imageUrl)
    {
        <marush-image-loader class="preview-image-placeholder center-content" [description]="imageDescriptions"
            [url]="imageUrl" [givenClass]="'preview-image stretch clickable'" (click)="openFullImage(imageUrl)" />
    }
</section>

@if(fetchedCount !== imageCount)
{
    <button type="button" class="main-action" (click)="loadMoreImages()">
        <span i18n="@@gallery.load-more">Učitaj još slika</span>
    </button>
}

<marush-dialog [title]="getImageName()">
    <marush-image-loader class="stretch center-content" [description]="imageDescriptions" slot="body" [url]="selectedImage" [givenClass]="'full-size-image'" />
    <span slot="actions">This is a demo.</span>
</marush-dialog>