<section class="aligned-centrally vertical-stack column-12" [ngClass]="{'animate-fading-in': services.length }">
    @for(service of services; track service.key)
    {
    <marush-expansion-panel #panels class="column-12" panelHeaderClass="service-title emphasized"
        [title]="service.title" [index]="$index" (collapsedEvent)="collapseOpenedPanel($event)">
        @for(treatment of service.treatments; track treatment.name)
        {
        <div class="row service-container aligned-centrally">
            <marush-checkbox class="service-selection grow-nested-block" [onChange]="onTreatmentChanged(treatment)"
                [checked]="checkedServices.includes(treatment)"
                [labelText]="treatment.titleWithDuration()" />
            <span class="price">{{treatment.formattedPrice()}}</span>
        </div>
        }
    </marush-expansion-panel>
    }
</section>