@use 'variables';
@use 'headers';
@use 'breakpoints';

.service-container {
	padding: 15px 0;
	border-bottom: 1px solid variables.$accent;
	@include headers.marush-caption();

	@include breakpoints.apply-from-tablet() {
		font-size: 18px;
	}

	@include breakpoints.apply-from-desktop() {
		font-size: 20px;
	}

	.service {
		flex-basis: 0;
		flex-grow: 1;
		overflow-wrap: break-word;
	}

	.price {
		align-self: center;
	}

	.service, .price {
		margin-left: 10px;
	}
}