<h1 class="screen-readers-only" i18n="@@home.services.all">Sve usluge</h1>
<marush-services-type-selector class="service-content column-12 column-tablet-10 column-desktop-9" [(selectedService)]="selectedService" />
<marush-services-treatment-selector class="column-12 column-tablet-10 column-desktop-9 service-content center-content vertical-stack"
  [selectedService]="selectedService" />
<button type="button" class="download-action" (click)="marushDetails.openPriceList()"><span
    i18n="@@pricelist">cenovnik | PDF</span></button>