<section class="aligned-centrally stretch-equally services-container">
  <div class="service-placeholder">
    <img class="image" [src]="servicesImageFor('treatments-face')" i18n-alt="@@services.treatments.image-description" alt="Žena uživa u tretmanu lica" />
    <h5 class="title" i18n="@@services.treatments.title">Tretmani Lica</h5>
  </div>
  <div class="service-placeholder">
    <img class="image" [src]="servicesImageFor('treatments-combination')" i18n-alt="@@services.treatments-combination.image-description" alt="Kozmetički preparati za negu lica" />
    <p class="title" i18n="@@services.treatments-combination.title">Kombinacije Tretmana</p>
  </div>
  <div class="service-placeholder">
    <img class="image" [src]="servicesImageFor('brows-lids')" i18n-alt="@@services.brows-lids.image-description" alt="Obrva i trepavica žene koja žmuri" />
    <p class="title" i18n="@@services.brows-lids.title">Obrve i Trepavice</p>
  </div>
</section>