<marush-services-type-selector class="service-content column-12" [(selectedService)]="selectedService"></marush-services-type-selector>
<marush-services-treatment-selector id="treatments-section" class="column-12 column-tablet-10 column-desktop-9 service-content center-content vertical-stack"
  [selectedService]="selectedService"></marush-services-treatment-selector>
<button type="button" class="download-action" (click)="marushDetails.openPriceList()"><span
    i18n="@@pricelist">cenovnik</span></button>