@if(pageCount() > 0) {
<button class="pagination-button main-action jump-left" type="button" [disabled]="cantGoBack()"
    (click)="setCurrentPage(1)">
    <span role="img" class="arrow-icon left"></span><span role="img" class="arrow-icon left"></span>
</button>
<button class="pagination-button main-action jump-left" type="button" [disabled]="cantGoBack()"
    (click)="previousPage()">
    <span role="img" class="arrow-icon left"></span>
</button>

@for(page of allPages(); track page)
{
<button class="pagination-button" type="button" [class.main-action]="currentPage() === page"
    (click)="setCurrentPage(page)">
    <span>{{ page }}</span>
</button>
}
<button class="pagination-button main-action jump-right" type="button" [disabled]="cantGoForward()"
    (click)="nextPage()"><span role="img" class="arrow-icon right"></span>
</button>
<button class="pagination-button main-action jump-right" type="button" [disabled]="cantGoForward()"
    (click)="setCurrentPage(pageCount())">
    <span role="img" class="arrow-icon right"></span><span role="img" class="arrow-icon right"></span>
</button>
}

@else
{
<p class="center-content no-results">Za zadati filter nema rezultata.</p>
}