<!-- eslint-disable @angular-eslint/template/interactive-supports-focus, @angular-eslint/template/click-events-have-key-events -->
<table class="pagination-table column-12">
  <thead>
    <tr>
      @for(column of tableMetadata().columns; track column.name)
      {
      @if(!column.hidden) {
      <th [class]="`${column.className} table-header`">
        <span [class.clickable]="column.sortable" (click)="sortBy(column.name)">{{ column.displayName }}</span>

        @if(column.sortable && this.tableMetadata().state().sortBy() === column.name) {
        <span role="img" class="sort-icon caret" [class.clickable]="column.sortable"
          (click)="sortBy(column.name)">{{isSorted(column.name, false) ? '&and;' :
          '&or;'}}</span>
        }
      </th>
      }
      }
    </tr>
  <tbody>

    @for(row of tableContent().items; track row['id'])
    {
    <tr class="pagination-row clickable" (click)="tableMetadata().onRowClick?.(row['id'])">
      @for(cellName of tableMetadata().columns; track cellName.name)
      {
      <!-- eslint-disable-next-line @angular-eslint/template/cyclomatic-complexity -->
      @if(!cellName.hidden) {<td [class]="`${cellName.className} table-cell`">{{ row[cellName.name] }}</td>}
      }
    </tr>
    }
  </tbody>
</table>
<marush-pagination-buttons class="button-container aligned-centrally" [tableMetadata]="tableMetadata()"
  [tableContent]="tableContent()" />