@use 'breakpoints';
@use 'headers';

.appointment-container {
	padding: 40px 30px;
}

.service-title {
	font-family: 'Overpass-Bold', sans-serif;
	text-transform: uppercase;
	@include headers.marush-caption(true);

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-tablet-caption();
	}

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-header();
	}
}