@if(loader.isLoading()) {
  <div class="loader aligned-centrally vertical-stack">
    <img class="image" i18n-alt="@@loading" alt="Učitavanje..." src="/assets/images/loader.gif" />
  </div>
}

<p class="ie-only">
  <strong i18n="@@ie.warning">Žao nam je, ali Marush - Space of Care ne podržava Internet Explorer. Pokušajte da
    pristupite nekim savremenim pretraživačem.</strong>
</p>
<marush-menu class="marush-menu"></marush-menu>
<main>
  <router-outlet></router-outlet>
</main>
<marush-footer></marush-footer>