<iframe class="map column-12 column-desktop-7"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2749.7614612598522!2d20.465543783798303!3d44.81472959318799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fa594a8c62eba5%3A0xfbd21ceb45f17c8d!2sMarush%20-%20Space%20of%20care!5e0!3m2!1ssr!2srs!4v1715439194315!5m2!1ssr!2srs"
    loading="lazy" referrerpolicy="no-referrer"></iframe>

<div class="contact row column-12 offset-desktop-1 column-desktop-4">
    <div class="column-12 column-tablet-6 column-desktop-12 metadata">
        <h4 class="title" i18n="@@mobile">MOBILNI</h4>
        <a class="details" [href]="marushDetails.phoneNumberAction">{{marushDetails.phoneNumber}}</a>
        <h4 class="title" i18n="@@email">MAIL</h4>
        <a class="details" [href]="marushDetails.emailAction">{{marushDetails.email}}</a>
        <h4 class="title" i18n="@@address">ADRESA</h4>
        <address class="address details">
            <p class="line" i18n="@@contact.address">Višegradska 25/7</p>
            <p class="line" i18n="@@contact.city">Beograd</p>
        </address>
    </div>
    <p class="column-12 column-tablet-6 column-desktop-12 disclaimer details" i18n="@@contact.disclaimer">Svoj tretman
        možete zakazati pozivom, porukom (Viber, WhatsApp, SMS) ili mailom.</p>
</div>