<footer class="main-footer row center-content">
    <div class="group-container column-12 column-tablet-6 column-desktop-3 tablet-right-aligned">
        <img class="decoration" src="assets/images/footer/decoration.svg" alt="Decoration plants as vector images" />
    </div>
    <section class="group-container row column-12 column-tablet-6 column-desktop-3 vertical-stack tablet-left-aligned">
        <div class="working-hours-group">
            <h4 class="title">RADNO VREME</h4>
            <ul class="working-hours">
                <li class="content">Ponedeljak</li>
                <li class="content">Utorak</li>
                <li class="content">Sreda</li>
                <li class="content">Četvrtak</li>
                <li class="content">Petak</li>
                <li class="content last">Subota</li>
            </ul>
            <div class="working-hours time-slots">
                <li class="content">12-20</li>
                <li class="content">12-20</li>
                <li class="content">12-20</li>
                <li class="content">12-18</li>
                <li class="content">12-20</li>
                <li class="content last">12-20</li>
            </div>
        </div>
    </section>
    <section class="group-container contact-group-container row column-12 column-tablet-6 column-desktop-3 vertical-stack tablet-right-aligned">
        <div class="contact-group">
            <h4 class="title">ADRESA</h4>
            <address class="contact">
                Vlajkovićeva 27/6, Beograd
            </address>
            <h4 class="title">MOBILNI</h4>
            <a class="contact" href="tel:+381605229593">060/522-95-93</a>
            <h4 class="title">MAIL</h4>
            <a class="contact" href="mailto:office@marushcare.com">office&#64;marushcare.com</a>
        </div>
    </section>
    <div class="group-container last-group-container column-12 column-tablet-6 column-desktop-3 tablet-left-aligned">
        <img class="decoration" src="assets/images/footer/decoration.svg" alt="Decoration plants as vector images" />
    </div>
</footer>