<footer class="main-footer row">
    <div class="column-12 center-content">
        <img class="decoration" src="assets/images/footer/decoration.png" alt="Decoration plants as vector images" />
    </div>
    <section class="column-12 row center-content vertical-stack">
        <div>
            <h4 class="working-hours-title title">RADNO VREME</h4>
            <div class="working-hours">
                <p class="working-hours-content">Ponedeljak</p>
                <p class="working-hours-content">Utorak</p>
                <p class="working-hours-content">Sreda</p>
                <p class="working-hours-content">Četvrtak</p>
                <p class="working-hours-content">Petak</p>
                <p class="working-hours-content">Subota</p>
            </div>
            <div class="working-hours time-slots">
                <p class="working-hours-content">12-20</p>
                <p class="working-hours-content">12-20</p>
                <p class="working-hours-content">12-20</p>
                <p class="working-hours-content">12-18</p>
                <p class="working-hours-content">12-20</p>
                <p class="working-hours-content">12-20</p>
            </div>
            <div>
                <h4 class="title">ADRESA</h4>
                <address class="contact">
                    Vlajkovićeva 27/6, Beograd
                </address>
                <h4 class="title">MOBILNI</h4>
                <a class="contact" href="tel:+381605229593">060/522-95-93</a>
                <h4 class="title">MAIL</h4>
                <a class="contact" href="mailto:office@marushcare.com">office&#64;marushcare.com</a>
            </div>
        </div>
    </section>
    <div class="column-12 center-content">
        <img class="decoration" src="assets/images/footer/decoration.png" alt="Decoration plants as vector images" />
    </div>
</footer>