@use 'buttons';
@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';

/* stylelint-disable-next-line csstools/use-nesting */
.line-button .line {
	display: block;
	@include absolute.unset-position(unset, unset, unset, 0);
	width: 100%;
	height: 2px;
	transform: rotate(0deg);
	transform-origin: left center;
	transition: .25s ease-in-out;
	opacity: 1;
	background-color: variables.$font-color;

	&.first {
		top: 0;
	}
}

.line-button {
	all: unset;
	padding: 7px 4px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	@include buttons.line-button-size();

	&:hover .line {
		background-color: variables.$accent;
	}

	&.crossed .line {
		&.first {
			transform: rotate(45deg);
		}

		&.middle {
			width: 0%;
			opacity: 0;
		}

		&.last {
			transform: rotate(-45deg);
		}
	}

	.line-placeholder {
		position: relative;
	}
}
