@use 'variables';
@use 'breakpoints';
@use 'headers';

@mixin marush-control-frame($with-edged-border: true) {
	border: 1px solid variables.$accent;
	background-color: variables.$body-color;
	@if $with-edged-border {
		border-radius: 0 0 12px 12px;
	}
	@else {
		border-radius: 12px;
	}
}

%element {
	padding: 10px 30px 8px;
	@include marush-control-frame(false);
	color: variables.$font-color;
	font-family: 'Overpass', sans-serif;
	@extend %marush-caption;

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-tablet-caption();
	}

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-header();
		letter-spacing: 1px;
	}
}

%error-element {
	border-color: variables.$error-font-color;
	background-color: variables.$error;
	color: variables.$error-font-color;
}