$breakpoints: (
	tablet: (description: 'tablet', size: 600px),
	desktop: (description: 'desktop', size: 1200px)
);

$primary: #FDF1ED;
$body-color: #FFFBFA;
$font-color: #A54535;
$font-selection-color: #F5B57B;