@use 'breakpoints';
@use 'scss-solutions/src/modules/position/absolute';

.main-ad-container {
	position: relative;
	line-height: 0;
}

@include breakpoints.apply-from-tablet() {
	.discounts-container {
		@include absolute.unset-position(0, 0, 0);
		width: 323px;
	}
}

@include breakpoints.apply-from-desktop() {
	.discounts-container {
		width: 500px;
	}
}
