<section class="row">
  <img class="column-12" src="https://marushcare.com/files/images/home/main.png" alt="Woman enjoying after treatment in cozy environment" />
  <div class="column-12 center-content vertical-stack">
    <h1>Dobrodošli u Marush Space of care</h1>
    <p>
      Posvećeni smo tome da vaša koža bude u punoj, prirodnoj lepoti. Kroz praksu posvećenu nezi, želimo da pomognemo ženama svih doba da se osećaju samouvereno u svojoj koži. Bavimo se  otklanjanjem akni, ožiljaka i hiperpigmentacije, i dovodimo kožu do zdravog sjaja.
    </p>
    <button type="button">ZAKAŽI</button>
  </div>
</section>