<section class="row">
  <div class="column-12 main-ad-container">
    <marush-home-discounts class="column-12 discounts-container" />
    <img class="column-12" [src]="mainImageUrl" i18n="@@home.decoration.main" alt="Žena uživa nakon tretmana u prijatnom okruženju" />
  </div>
  <marush-home-hero class="column-12 center-content vertical-stack hero-container" />
  <marush-home-space class="column-12 row space-container" />
  <marush-home-services class="column-12 row services-container" />
  <marush-home-instagram class="column-12 row instagram-container" />
</section>