<section class="row">
  <div class="column-12 main-ad-container">
    <app-home-discounts class="column-12 discounts-container" />
    <img class="column-12" src="https://marushcare.com/images/home/main.png"
      alt="Woman enjoying after treatment in cozy environment" />
  </div>
  <app-home-hero class="column-12 center-content vertical-stack hero-container" />
  <app-home-space class="column-12 row space-container" />
  <app-home-services class="column-12 row services-container" />
  <app-home-instagram class="column-12 row instagram-container" />
</section>