<div class="column-12" [formGroup]="form()">
    <input class="column-12 field" type="text" [autocomplete]="autoComplete() ? 'on' : 'off'" [formControlName]="name()"
        [name]="name()" [placeholder]="placeholder()" [ariaLabel]="placeholder()" [attr.aria-required]="required ? 'true' : null">
    @if(required)
    {
        <p class="invalid-field-message" i18n="@@validation.required" aria-live="polite">Ovo je obavezno polje</p>
    }

    @else if(maxLength)
    {
        <p class="invalid-field-message" i18n="@@validation.max-length" aria-live="polite">Uneta vrednost je predugačka</p>
    }

    @else if(email)
    {
        <p class="invalid-field-message" i18n="@@validation.email" aria-live="polite">Neispravna mejl adresa</p>
    }

    @else if(custom)
    {
        <p class="invalid-field-message" aria-live="polite">{{customValidationMessage()}}</p>
    }
</div>