<div class="column-12" [formGroup]="form">
    <input [autocomplete]="autoComplete ? 'on' : 'off'" [formControlName]="name" [name]="name" class="column-12 field" type="text" [placeholder]="placeholder">
    @if(required)
    {
        <p class="invalid-field-message" i18n="@@validation.required">Ovo je obavezno polje</p>
    }

    @else if(maxLength)
    {
        <p class="invalid-field-message" i18n="@@validation.max-length">Uneta vrednost je predugačka</p>
    }

    @else if(email)
    {
        <p class="invalid-field-message" i18n="@@validation.email">Neispravna mejl adresa</p>
    }

    @else if(custom)
    {
        <p class="invalid-field-message">{{customValidationMessage}}</p>
    }
</div>
