@use 'dialog-variables' as dialog;

$notes-height: 240px;
$notes-minimal-height: 96px;

.calendar-page {
	.notes-dialog-body {
		display: flex;
		flex-direction: column;
		padding-top: dialog.$dialog-gap;
		padding-bottom: dialog.$dialog-gap;
	}

	.notes-input {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		min-height: 0;

		.field-container {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			min-height: 0;
		}

		.field {
			flex: 1 1 auto;
			height: $notes-height;
			min-height: $notes-minimal-height;
			resize: none;
		}
	}
}
