@use 'headers';
@use 'variables';
@use 'breakpoints';
@use 'scss-solutions/src/modules/position/absolute';

.panel-header {
	position: relative;
	margin-top: 30px;
	border-bottom: solid 2px variables.$accent;

	.description {
		display: inline-block;
		padding-right: 50px;
		padding-left: variables.$expansion-panel-gap;

		@include breakpoints.apply-from-tablet() {
			padding-left: variables.$expansion-panel-gap-bigger;
		}
	}

	.caret {
		display: inline-block;
		@include absolute.unset-position(unset, 10px, 0);
		margin-left: 5px;
		transform: scaleX(1.5);

		@include breakpoints.apply-from-tablet() {
			right: 20px;
		}
	}
}
