@use 'breakpoints';

.hero-container {
	padding: 0 40px;
	text-align: center;

	.main-action {
		margin-bottom: 120px;
	}

	@include breakpoints.apply-from-tablet() {
		padding: 0 70px;
	}

	@include breakpoints.apply-from-desktop() {
		padding: 0 250px;
	}
}