@use 'breakpoints';
@use 'variables';

.hero-container {
	padding: 0 variables.$side-gaps;
	text-align: center;

	.main-action {
		margin-bottom: 40px;
	}

	@include breakpoints.apply-from-tablet() {
		padding: 0 70px;
	}

	@include breakpoints.apply-from-desktop() {
		padding: 0 250px;
	}
}