@use 'elements';
@use 'variables';
@use 'scss-solutions/src/modules/position/absolute';

.combo-box {
	position: relative;

	.preview, .control-description {
		@extend %element;
		text-transform: initial;
	}

	.preview {
		padding-right: 40px;
	}

	.selected-value {
		text-align: left;
	}

	.option-container {
		outline-offset: -5px;
	}

	.control-description {
		display: block;
		padding: 10px 30px;
		overflow-wrap: break-word;
		border: none;
	}

	.option-container, .control-description {
		&:hover {
			background-color: variables.$accent;
			color: variables.$body-color;
		}
	}

	.option-container.selected, .option-container.selected .control-description {
		background-color: variables.$accent;
		color: variables.$body-color;
	}

	.dropdown {
		display: block;
		position: absolute;
		box-sizing: border-box;
		max-height: 300px;
		margin-top: 10px;
		overflow-y: auto;
		transition: opacity .2s;
		border: 1px solid variables.$accent;
		border-radius: 0 0 12px 12px;
		opacity: 0;
		background-color: variables.$body-color;

		.control {
			@include absolute.unset-position($left: 0);
			visibility: hidden;
		}

		&.collapsed {
			opacity: 1;
		}
	}

	.caret {
		top: 10px;
	}
}
