<div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-required="true" class="combo-box"
    [attr.aria-controls]="containerId()" [formGroup]="formGroup()" [ariaExpanded]="collapsed" [id]="id()"
    [class.invalid]="formGroup().get(name())?.invalid">
    <button #combo class="preview aligned-centrally stretch-between column-12" type="button" [id]="buttonId()"
        (click)="toggleDropdown()" (keydown)="onKey($event)">
        @if(selectedItem()){
        <span class="selected-value ellipsis">{{selectedItem()?.label}}</span>
        }
        @else {
        <span class="selected-value ellipsis placeholder">{{placeholder()}}</span>
        }
        <span role="img" class="caret">{{collapsed ? '&and;' : '&or;'}}</span>
    </button>
    <ul role="listbox" tabindex="-1" aria-hidden="true" class="dropdown clickable column-12"
        [class.collapsed]="collapsed" [ariaHidden]="!collapsed" [id]="containerId()" (keydown)="onOptionsKey($event)">
        @for(item of items(); track item.value)
        {
        <li #option aria-selected="false" role="option" class="option-container"
            [ariaSelected]="selectedItem()?.value === item.value" [class.selected]="selectedItem()?.value === item.value"
            [tabindex]="collapsed ? 0 : -1" (click)="select(item)" (keydown)="onOptionKey(item, $event, $index)"
            (blur)="onBlur($event)">
            <label class="control-description clickable" tabindex="-1">{{item.label}}<input class="control" type="radio"
                    tabindex="-1" [attr.formControlName]="name()" [checked]="selectedItem()?.value === item.value"
                    [value]="item.value" /></label>
        </li>
        }
    </ul>
    @if(invalid)
    {
    <p class="invalid-field-message" i18n="@@validation.required" aria-live="polite">Ovo je obavezno polje</p>
    }
</div>