@use 'variables';
@use 'focus';
@use 'headers';
@use 'breakpoints';
@use 'scss-solutions/src/modules/position/absolute';

$height-gap: 10px;
$side-gap: 15px;

.marush-combo-box {
	position: relative;
	z-index: 2;
	margin-right: 40px;
	outline: none;
	font-family: 'Overpass-Bold', sans-serif;
	cursor: pointer;
	user-select: none;

	.selected-option {
		display: block;
		padding: $height-gap 25px $height-gap $side-gap;

		&:hover {
			color: variables.$accent;
		}
	}

	@extend %focusable;
}

.language-description {
	@extend %marush-caption;

	@include breakpoints.apply-from-desktop() {
		font-size: 18px;
		line-height: 24px;
	}
}

.language-caret {
	display: inline-block;
	@include absolute.unset-position(7px);
	margin-left: 5px;
	transform: scale(1.6, 1);
}

.options-container {
	@include absolute.zero-position(100%);
	transition: opacity .2s;
	opacity: 0;
	background-color: variables.$primary;

	&.collapsed {
		opacity: 1;
	}

	.option {
		padding: $height-gap $side-gap;
		cursor: pointer;

		&:hover {
			color: variables.$accent;
		}

		@extend %focusable;

		&:focus {
			color: variables.$accent;
		}

		&.selected {
			color: variables.$accent;
		}
	}
}