@if(horizontal()){
    <ul class="aligned-centrally stretch-equally" tabindex="-1" role="listbox">
        @for(supportedLanguage of supportedLanguages; track supportedLanguage.value){
            <li role="option" aria-selected="false" class="action horizontal-action clickable"
                [ariaSelected]="selectedLanguage().value === supportedLanguage.value" [class.selected]="selectedLanguage().value === supportedLanguage.value"
                [tabindex]="index()" (keydown)="select(supportedLanguage, $event)" (click)="select(supportedLanguage)">
                {{supportedLanguage.label}}
            </li>
        }
    </ul>
}

@else {
    <marush-combobox class="language-combo-box action" id="language-selector" [items]="supportedLanguages"
        [selectedItem]="selectedLanguage()" [onValueChanged]="select" />
}