@use 'variables';
@use 'breakpoints';
@use 'headers';
@use 'sass:math';

.marush-menu {
	display: block;
	background-color: variables.$primary;

	.action, .language-combo-box .preview, .language-combo-box .control-description {
		@include headers.marush-caption(true);
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		font-family: 'Overpass-Bold', sans-serif;

		&:hover, &.active {
			color: variables.$accent;
		}

		@include breakpoints.apply-from-desktop() {
			padding: 10px 20px;
			@include headers.marush-tablet-caption();
		}
	}

	.action:not(.last) {
		margin-bottom: variables.$menu-gaps * .75;
	}

	.protected-menu-items {
		width: 100%;
	}
}

.main-menu .protected-menu-items .action {
	margin-bottom: 0;
}
