@use 'variables';
@use 'breakpoints';
@use 'headers';

.marush-menu {
	display: block;
	background-color: variables.$primary;

	.action {
		@extend %marush-caption;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 15px;
		font-family: 'Overpass-Bold', sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;

		&:hover {
			color: variables.$accent;
		}

		@include breakpoints.apply-from-desktop() {
			font-size: 18px;
		}
	}
}
