@use 'variables';
@use 'breakpoints';
@use 'headers';

.marush-menu {
	display: block;
	background-color: variables.$primary;

	.action {
		@include headers.marush-caption(true);
		margin-right: auto;
		margin-left: auto;
		padding: 10px 15px;
		font-family: 'Overpass-Bold', sans-serif;

		&:hover, &.active {
			color: variables.$accent;
		}

		@include breakpoints.apply-from-desktop() {
			font-size: 18px;
		}
	}
}
