@use 'sass:math';
@use 'scss-solutions/src/modules/position/absolute';
@use 'variables';
@use 'units';

$hamburger-width: 34px;
$hamburger-height: $hamburger-width * .75;
$line-thickness: math.ceil(math.div($hamburger-height, 6));
$cross-height: math.sqrt(math.div(math.pow(units.strip($hamburger-width), 2), 2));
$cross-horizontal-gap: math.round(($hamburger-width - $cross-height) * .5);
$cross-vertical-gap: math.round(($hamburger-height - $cross-height) * .5);

.line {
	display: block;
	@include absolute.unset-position(unset, unset, unset, 0);
	width: 100%;
	height: 2px;
	transform: rotate(0deg);
	transform-origin: left center;
	transition: .25s ease-in-out;
	opacity: 1;
	background-color: variables.$font-color;

	&.first {
		top: 0;
	}

	&.middle {
		top: 2 * $line-thickness;
	}

	&.last {
		top: 4 * $line-thickness;
	}
}

.hamburger {
	all: unset;
	position: relative;
	width: $hamburger-width;
	height: math.floor($hamburger-height);
	margin-right: 30px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	&:hover .line {
		background-color: variables.$accent;
	}

	&.collapsed .line {
		&.first {
			top: -1px - $cross-vertical-gap;
			left: $cross-horizontal-gap;
			transform: rotate(45deg);
		}

		&.middle {
			width: 0%;
			opacity: 0;
		}

		&.last {
			top: -2px + math.floor($hamburger-height) - $cross-vertical-gap;
			left: $cross-horizontal-gap;
			transform: rotate(-45deg);
		}
	}
}
