<nav class="menu-items center-content vertical-stack">
    <img class="decoration upper" src="/assets/images/menu/upper-decoration.svg" i18n-alt="@@plants.decoration" alt="Biljne dekoracije u grafici" />
    <marush-menu-items [visible]="collapsed" (hideMobileMenu)="hideMenu()" class="actions center-content vertical-stack"></marush-menu-items>
    <img class="decoration lower" src="/assets/images/menu/lower-decoration.svg" i18n-alt="@@plants.decoration" alt="Biljne dekoracije u grafici" />
    @if(environment.name !== 'development'){
        <marush-language-selector [horizontal]="true" ngskiphydration></marush-language-selector>
    }
</nav>