@use 'variables';

body {
	margin: 0;
	background-color: variables.$body-color;
	color: variables.$font-color;
	font-family: 'Overpass', sans-serif;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 0;
	list-style: none;
}