@use 'variables';
@use 'breakpoints';
@use 'headers';

button {
	padding: 12px 64px;
	border: 2px solid variables.$accent;
	border-radius: 12px;
	background-color: variables.$primary;
	color: variables.$accent;
	font-family: 'Overpass', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 28px;
	text-transform: uppercase;
	cursor: pointer;

	&:active {
		background-color: variables.$body-color;
	}

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-caption();
	}

	@include breakpoints.apply-from-desktop() {
		font-size: 18px;
		line-height: 32px;
	}
}