@use 'variables';

.field {
	margin-bottom: variables.$field-spacing;

	#{variables.$error-selector} {
		margin-bottom: 0;
	}
}

.invalid-field-message {
	margin-top: variables.$validation-spacing;
	margin-bottom: variables.$field-spacing;
	color: variables.$error-font-color;
}