@use 'variables';
@use 'breakpoints';
@use 'sass:math';

$panel-gap-half: math.div(variables.$expansion-panel-gap, 2);
$panel-gap-bigger-half: math.div(variables.$expansion-panel-gap-bigger, 2);

.medium-title {
	padding-left: $panel-gap-half;
	border-bottom: 1px solid variables.$body-color;
	font-family: 'Overpass-Bold', sans-serif;
	text-transform: uppercase;

	@include breakpoints.apply-from-tablet() {
		padding-left: $panel-gap-bigger-half;
	}
}

.price {
	display: block;
	margin-left: 10px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: right;
}

.disclaimer {
	margin-top: 50px;
	margin-bottom: 0;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	text-align: center;

	@include breakpoints.apply-from-tablet() {
		font-size: 16px;
	}
}