<h2 class="column-12 services-header header-centered" i18n="@@home.services.title">Koje usluge nudimo?</h2>
<section class="column-12 services-placeholders">
  <div class="placeholder">
    <img class="column-12 services-image" src="/assets/images/home/consultations.svg"
      i18n-alt="@@home.services.decoration.umbrella" alt="Kišobran u grafičkom prikazu" />
    <h4 class="services-title header-centered" i18n="@@home.services.consultations">Konsultacije</h4>
    <p class="services-description" i18n="@@home.services.consultations.description">Besplatne konsultacije o tretmanima ili kombinacijama tretmana u zavisnosti od vaših
      potreba i ciljeva</p>
  </div>
  <div class="placeholder">
    <img class="column-12 services-image" src="/assets/images/home/skin-check.svg"
      i18n-alt="@@home.services.decoration.magnifying-glass" alt="Lupa u grafičkom prikazu" />
    <h4 class="services-title header-centered" i18n="@@home.services.skin-check">Pregled kože</h4>
    <p class="services-description" i18n="@@home.services.skin-check.description">Važno je da se pravilno ustanovi stanje kože, kog je tipa i šta joj je neophodno</p>
  </div>
  <div class="placeholder last">
    <img class="column-12 services-image" src="/assets/images/home/house-care.svg"
      i18n-alt="@@home.services.decoration.house" alt="Kuća u grafičkom prikazu" />
    <h4 class="services-title header-centered" i18n="@@home.services.care-at-home">Plan kućne nege</h4>
    <p class="services-description" i18n="@@home.services.care-at-home.description">Nakon odlaska iz salona, želimo da znate kako da pravilno negujete kožu i tako
      produžite delovanje tretmana</p>
  </div>
</section>
<button type="button" class="services-action" (click)="contact()"><span i18n="@@home.services.all">Sve usluge</span></button>