@use 'variables';
@use 'breakpoints';
@use 'headers';

.services-header {
	@extend %marush-header;
	margin-bottom: 40px;

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-headline();
	}

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-header(true);
	}
}

.services-title {
	@include headers.marush-caption(true);
	margin-top: 40px;

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-header();
	}
}

.services-description {
	@extend %marush-caption;
	text-align: center;

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-header();
		letter-spacing: normal;
	}
}

.services-placeholders {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;

	@include breakpoints.apply-from-tablet() {
		flex-direction: row;
	}

	.placeholder {
		box-sizing: border-box;
		width: 100%;
		margin-right: 30px;
		margin-bottom: 30px;
		padding: 32px 44px;
		border-radius: 24px;
		background-color: variables.$primary;
		text-align: center;

		&.last {
			margin-right: 0;
		}

		@include breakpoints.apply-from-tablet() {
			flex-basis: 100%;
			width: unset;
		}
	}
}

.services-action {
	margin: 0 auto;
}

.services-image {
	width: 140px;
	height: 143px;
}
