@use 'variables';
@use 'breakpoints';

.services-header {
	margin-bottom: 40px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;

	@include breakpoints.apply-from-tablet() {
		font-size: 22px;
		line-height: 34px;
	}

	@include breakpoints.apply-from-desktop() {
		font-size: 32px;
		letter-spacing: 4px;
		line-height: 50px;
	}
}

.services-title {
	margin-top: 40px;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;

	@include breakpoints.apply-from-desktop() {
		font-size: 20px;
		line-height: 28px;
	}
}

.services-description {
	font-size: 16px;
	line-height: 25px;
	text-align: center;

	@include breakpoints.apply-from-desktop() {
		font-size: 20px;
		line-height: 31px;
	}
}

.services-placeholders {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;

	@include breakpoints.apply-from-tablet() {
		flex-direction: row;
	}

	.placeholder {
		box-sizing: border-box;
		width: 100%;
		margin-right: 30px;
		margin-bottom: 30px;
		padding: 32px 44px;
		border-radius: 24px;
		background-color: variables.$primary;
		text-align: center;
	
		&.last {
			margin-right: 0;
		}
	
		@include breakpoints.apply-from-tablet() {
			flex-basis: 100%;
			width: unset;
		}
	}
}

.services-action {
	margin: 0 auto;
}

.services-image {
	width: 140px;
	height: 143px;
}
