<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.mjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="SSR Rewrite" stopProcessing="true">
          <match url="^(sr|en|ru)(/.*)?$" />
          <action type="Rewrite" url="server.mjs" />
        </rule>
        <!-- Default: Allow other routes -->
        <rule name="Do Not Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
