@use 'headers';
@use 'variables';
@use 'breakpoints';

$mobile-size: 148px;
$placeholder-gap: 8px;
$radius: 24px;

.service-placeholder {
	width: $mobile-size;
	margin: 0 $placeholder-gap 5 * $placeholder-gap $placeholder-gap;
	line-height: 0;

	@include breakpoints.apply-from-tablet() {
		$placeholder-tablet-gap: 24px;
		width: 215px;
		margin: 0 $placeholder-tablet-gap 2 * $placeholder-tablet-gap $placeholder-tablet-gap;
	}

	@include breakpoints.apply-from-desktop() {
		$placeholder-desktop-gap: 30px;
		width: 282px;
		margin: 0 $placeholder-desktop-gap $placeholder-desktop-gap $placeholder-desktop-gap;
	}

	.image {
		width: inherit;
		height: auto;
		border-radius: $radius;
	}

	.title {
		@include headers.marush-caption(true);
		margin: 0;
		padding: 10px;
		font-family: 'Overpass-Bold', sans-serif;
		text-align: center;

		@include breakpoints.apply-from-tablet() {
			padding: 15px;
			@include headers.marush-tablet-caption();
		}

		@include breakpoints.apply-from-desktop() {
			@include headers.marush-header();
			padding: 20px;
		}
	}

	&:hover, &.active {
		.title {
			border-bottom-right-radius: $radius;
			border-bottom-left-radius: $radius;
			background-color: variables.$accent;
		}

		.image {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.services-container {
	flex-wrap: wrap;
	align-items: baseline;
	padding-top: 60px;

	@include breakpoints.apply-from-tablet() {
		padding-top: 120px;
	}

	&.active .image {
		height: 42px;
		object-fit: cover;

		&.face-treatment {
			object-position: 0 7%;
		}

		&.combination-treatment {
			object-position: 0 50%;
		}

		&.brows-lashes {
			object-position: 0 55%;
		}

		@include breakpoints.apply-from-tablet() {
			height: 62px;
		}
	}
}
