<h2 id="home-instagram-title" class="column-12 instagram-header header-centered" i18n="@@home.instagram.title">Marush na instagramu</h2>
<section class="instagram-images" aria-labelledby="home-instagram-title">
  <img class="instagram-image odd" [src]="instagramImageUrl(1)" alt="" />
  <img class="instagram-image even" [src]="instagramImageUrl(2)" alt="" />
  <img class="instagram-image odd" [src]="instagramImageUrl(3)" alt="" />
  <img class="instagram-image" [src]="instagramImageUrl(4)" alt="" />
</section>

<button type="button" class="instagram-action" (click)="follow()"><span i18n="@@home.instagram.follow">Pratite nas</span></button>