@use 'sass:math';
@use 'breakpoints';
@use 'headers';

$default-gap: 30px;

.instagram-header {
	@extend %marush-header;
	margin-bottom: 40px;

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-headline();
	}

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-desktop-header();
	}
}

.instagram-images {
	display: flex;
	flex-flow: wrap;

	.instagram-image {
		box-sizing: border-box;
		width: calc(50% - math.div($default-gap, 2));
		aspect-ratio: 1 / 1;
		object-fit: cover;
		margin-bottom: $default-gap;

		@include breakpoints.apply-from-tablet() {
			width: calc(25% - math.ceil(3 * math.div($default-gap, 4)));

			&.even {
				margin-right: $default-gap;
			}
		}

		&.odd {
			margin-right: $default-gap;
		}
	}
}

.instagram-action {
	margin: $default-gap auto 0;
}