<h2 class="column-12 instagram-header">Marush na instagramu</h2>
<section class="instagram-images">
  <img class="instagram-image odd" src="https://marushcare.com/images/instagram/post1.jpg"
  alt="The latest instagram posts from Marush" />
<img class="instagram-image even" src="https://marushcare.com/images/instagram/post2.jpg"
  alt="The latest instagram posts from Marush" />
<img class="instagram-image odd" src="https://marushcare.com/images/instagram/post3.jpg"
  alt="The latest instagram posts from Marush" />
<img class="instagram-image" src="https://marushcare.com/images/instagram/post4.jpg"
  alt="The latest instagram posts from Marush" />
</section>

<button type="button" class="instagram-action" (click)="follow()"><span>Pratite nas</span></button>