<div class="column-12 column-desktop-6">
  <h2 class="space-header">Prostor</h2>
  <p class="space-description first">Marush je više od kozmetičkog salona, mesto gde možete da se potpuno opustite dok se mi
    brinemo o Vašoj koži.</p>
</div>
<img class="column-12 column-desktop-6 space-image first" src="https://marushcare.com/images/home/space-upper.png"
  alt="Woman enjoying coffee time with magazine after treatment on balcony" />
<img class="column-12 column-desktop-6 space-image last" src="https://marushcare.com/images/home/space-lower.png"
  alt="Pouring lavender oil to aroma air freshener" />
<p class="column-12 column-desktop-6 space-description last">Naši tretmani nisu vremenski ograničeni i zato možete odslušati podkast, pogledati
  epizodu omiljene serije uz šoljicu čaja ili čašu vina.</p>