@use 'breakpoints';
@use 'headers';

$image-gaps: 5px;

.space-header {
	@extend %marush-header;
	margin: 30px 0 0;

	@include breakpoints.apply-from-tablet() {
		@include headers.marush-headline();
		margin: 55px 0 0;
		text-align: left;
	}

	@include breakpoints.apply-from-desktop() {
		margin-left: -5px;
		@include headers.marush-header(true);
	}
}

.space-description {
	@extend %marush-caption;
	margin: 40px 0;

	&.first {
		@include breakpoints.apply-from-desktop() {
			margin-right: 20px;
			margin-left: -5px;
		}
	}

	&.last {
		margin-top: 20px;

		@include breakpoints.apply-from-desktop() {
			margin-top: 50px;
			margin-right: -20px;
			margin-left: 20px;
			padding-right: 15px;
		}
	}

	@include breakpoints.apply-from-tablet() {
		margin-top: 20px;
		font-size: 18px;
		line-height: 27px;
	}

	@include breakpoints.apply-from-desktop() {
		@include headers.marush-headline();
	}
}

.space-image {
	margin-bottom: 20px;

	@include breakpoints.apply-from-desktop() {
		&.last {
			margin-right: $image-gaps;
			margin-left: -1 * $image-gaps;
		}

		&.first {
			margin-right: -1 * $image-gaps;
			margin-left: $image-gaps;
		}
	}
}