<div class="column-12 column-desktop-6" aria-labelledby="home-space-title" i18n-aria-labelledby>
  <h2 id="home-space-title" class="space-header header-centered" i18n="@@home.space.title">Prostor</h2>
  <p class="space-description first" i18n="@@home.space.description.upper">Marush je više od kozmetičkog salona, mesto
    gde možete da se potpuno opustite dok se mi
    brinemo o Vašoj koži.</p>
</div>
<img class="column-12 column-desktop-6 space-image first" alt="Žena uživa u kafi na balkonu dok lista novine nakon tretmana"
  i18n-alt="@@home.space.decoration.upper" [src]="spaceImageUrl('upper')" />
<img class="column-12 column-desktop-6 space-image last" alt="Dolivanje ulja lavande u osveživač vazduha"
  i18n-alt="@@home.space.decoration.lower" [src]="spaceImageUrl('lower')" />
<p class="column-12 column-desktop-6 space-description last" i18n="@@home.space.description.lower">Naši tretmani nisu
  vremenski ograničeni i zato možete odslušati podkast, pogledati
  epizodu omiljene serije uz šoljicu čaja ili čašu vina.</p>