@use 'breakpoints';
@use 'scss-solutions/src/modules/position/absolute';

.search-input, .main-action {
	margin-right: 20px;
}

.search-form {
	box-sizing: border-box;
	padding: 30px 30px 0;

	.main-action {
		position: relative;
		box-sizing: content-box;
		height: 38px;
		margin-bottom: 10px;
		padding: 0 30px;

		@include breakpoints.apply-from-tablet() {
			height: 41px;
		}

		@include breakpoints.apply-from-desktop() {
			height: 47px;
		}
	}

	@include breakpoints.apply-from-desktop() {
		padding: 50px 70px 0;
	}
}

.add-action .icon {
	@include absolute.unset-position($top: 8px, $left: 6px);

	@include breakpoints.apply-from-tablet() {
		top: 10px;
	}

	@include breakpoints.apply-from-desktop() {
		top: 12px;
	}
}