/* stylelint-disable pitcher/max-lines */
@use 'variables';
@use 'breakpoints';

$default-gap: 15px;

.discounts-placeholder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: variables.$accent;

	.content {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
	}

	.decoration {
		width: 63px;
		height: 95px;
		margin: 25px $default-gap;

		@include breakpoints.apply-from-tablet() {
			margin: 0 auto;

			&.upper {
				transform: rotate(180deg);
			}
		}
	}

	.description {
		display: none;
		animation-name: fade;
		animation-duration: 1s;
		color: variables.$body-color;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		word-break: break-word;

		&.active {
			display: block;
			flex: 1 1 auto;
		}
	}

	.toggle-action {
		width: 15px;
		height: 30px;
		margin: 0 $default-gap;
		padding: 0;
		border-radius: 0;
		background-color: transparent;

		&:active span {
			color: #FDF1ED;
		}

		.arrow-icon {
			display: block;
			width: 12px;
			height: 21px;

			&.left {
				background-image: url('/assets/images/home/arrow-left.svg');
			}

			&.right {
				background-image: url('/assets/images/home/arrow-right.svg');
			}
		}
	}

	@include breakpoints.apply-from-tablet() {
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;

		.content {
			display: flex;
		}

		.decoration {
			width: auto;
			height: 19%;
		}

		.description {
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 31px;
		}
	}

	@include breakpoints.apply-from-desktop() {
		.description {
			font-size: 24px;
			letter-spacing: 3px;
			line-height: 37px;
		}

		.decoration {
			height: 30%;
		}

		.toggle-action {
			margin: 0 3 * $default-gap;
		}
	}
}

@keyframes fade {
	from {
		opacity: .1;
	}

	to {
		opacity: 1;
	}
}
