@use 'variables';
@use 'breakpoints';
@use 'headers';

$default-gap: 15px;

.discounts-placeholder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: variables.$accent;

	.content {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
	}

	.decoration {
		width: 63px;
		height: 95px;
		margin: 25px $default-gap;

		@include breakpoints.apply-from-tablet() {
			margin: 0 auto;

			&.upper {
				transform: rotate(180deg);
			}
		}
	}

	.description {
		@extend %marush-caption;
		color: variables.$body-color;
		letter-spacing: 1px;
		word-break: break-word;

		&.active {
			display: block;
			flex: 1 1 auto;
		}

		&.single {
			padding: 0 $default-gap;
		}
	}

	.toggle-action {
		width: 15px;
		height: 30px;
		margin: 0 $default-gap;
		padding: 0;
		border-radius: 0;
		background-color: transparent;

		&:active span {
			color: variables.$primary;
		}

		.arrow-icon {
			display: block;
			width: 12px;
			height: 21px;

			&.left {
				background-image: url('/assets/images/home/arrow-left.svg');
			}

			&.right {
				background-image: url('/assets/images/home/arrow-right.svg');
			}
		}
	}

	@include breakpoints.apply-from-tablet() {
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;

		.content {
			display: flex;
		}

		.decoration {
			width: auto;
			height: 19%;
		}

		.description {
			@include headers.marush-header();
		}
	}

	@include breakpoints.apply-from-desktop() {
		.description {
			@include headers.marush-desktop-header();
		}

		.decoration {
			height: 30%;
		}

		.toggle-action {
			margin: 0 3 * $default-gap;
		}
	}
}
