<h2 class="appointment-header header-centered" i18n="@@appointment.title">Izaberite usluge</h2>
<form [formGroup]="form" class="column-12 offset-tablet-1 column-tablet-10">
    <marush-appointment-services-selector [checkedServices]="checkedServices.value"
        (toggleSelection)="onToggleSelection($event.item, $event.checked)"
        class="column-12"></marush-appointment-services-selector>
    @if(checkedServices.length){
        <marush-appointment-summary [checkedServices]="checkedServices.value" (removeSelection)="onRemoveSelection($event)"
            class="summary column-12"></marush-appointment-summary>
        <marush-appointment-customer-details></marush-appointment-customer-details>
        <div class="column-12 vertical-stack center-content">
            <button type="submit" class="main-action"><span i18n="@@schedule">Zakaži</span></button>
        </div>
    }

    <p class="disclaimer column-12 offset-tablet-3 column-tablet-6">{{disclaimer}}
        <a [href]="marushDetails.phoneNumberAction">{{marushDetails.phoneNumber}}</a>
    </p>
</form>