<h2 class="column-12 main-header header-centered">Izaberite usluge</h2>

<marush-appointment-services-selector></marush-appointment-services-selector>
<marush-appointment-pro-forma-invoice></marush-appointment-pro-forma-invoice>
<marush-appointment-customer-details></marush-appointment-customer-details>

<button type="button" class="main-action"><span i18n="@@schedule">Zakaži</span></button>
<p>
    * U slučaju otkazivanja, molimo vas da nas na vreme, najkasnije 24h pre zakazanog termina, obavestite porukom ili pozivom na broj 060 5229593
</p>