@use 'breakpoints';
@use 'variables';
@use './calendar-variables' as calendar;

%header-emphasis {
	color: variables.$font-color;
	font-size: calendar.$header-font-size;
	font-weight: 600;

	@include breakpoints.apply-from-desktop() {
		font-size: calendar.$header-font-size-desktop;
	}
}

.page-header {
	gap: calendar.$header-gap;

	&.without-weekly-note {
		margin-bottom: calendar.$header-to-grid-gap - calendar.$page-content-gap;
	}
}

.header-row {
	justify-content: center;
	gap: calendar.$header-row-gap;
}

.week-navigation {
	justify-content: center;
	gap: calendar.$header-gap;
}

.week-label {
	@extend %header-emphasis;
	min-width: calendar.$week-label-width;
	text-align: center;
}

.navigation-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calendar.$navigation-padding;
	font-size: calendar.$navigation-font-size;
	line-height: calendar.$navigation-line-height;

	&:hover, &.has-note {
		background-color: variables.$accent;
		color: variables.$body-color;
	}

	.arrow-icon {
		width: calendar.$navigation-icon-width;
		height: calendar.$navigation-line-height;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	@include breakpoints.apply-from-desktop() {
		padding: calendar.$navigation-padding-desktop;
		font-size: calendar.$header-font-size-desktop;
		line-height: calendar.$navigation-line-height-desktop;

		.arrow-icon {
			width: calendar.$navigation-icon-width-desktop;
			height: calendar.$navigation-line-height-desktop;
		}
	}
}

.weekly-total {
	@extend %header-emphasis;
	font-size: calendar.$navigation-font-size;
	letter-spacing: calendar.$header-letter-spacing;
}

.weekly-note-content {
	@extend %header-emphasis;
	margin: 0;
	padding: calendar.$weekly-note-padding;
	font-weight: 400;
	text-align: center;
}
